@namespace h "http://www.w3.org/1999/xhtml";

@page {
    margin-bottom: 5.0pt;
    margin-top: 5.0pt;
}

@font-face {font-family: 'Liberation', serif, sans-serif; font-style: normal; font-weight: normal; src: url(LiberationSerif-Regular.ttf); }
@font-face {font-family: 'Liberation', serif, sans-serif; font-style: normal; font-weight: bold; src: url(LiberationSerif-Bold.ttf); }
@font-face {font-family: 'Liberation', serif, sans-serif; font-style: italic; font-weight: normal; src: url(LiberationSerif-Italic.ttf); }
@font-face {font-family: 'Liberation', serif, sans-serif; font-style: italic; font-weight: bold; src: url(LiberationSerif-BoldItalic.ttf); }

ol {
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: lower-alpha;
}

dl {
    margin-bottom: 0;
    margin-top: 0;
}

dt, dd {
    text-indent: 0;
}

.body {
    display: block;
    font-family: "Liberation", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    page-brake-before: always;
}

.bs {
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 1.29032em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.bs1 {
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.bs2 {
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0;
    color: rgb(0, 0, 0);
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 8pt
    }

.calibre {
    line-height: 1.2
}
.calibre1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }

p {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.italic {
    font-style: italic
}

.ts {
    font-weight: bold
    }
.ts1 {
    font-size: 0.75em
    }
